<header>
  <a routerLink="" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Main page</a>
  <a on-click="action($event)" routerLink="user" class="button" routerLinkActive="active">User</a>
  <a routerLink="list" class="button" routerLinkActive="active">List</a>
  <a routerLink="admin" class="button" routerLinkActive="active">Admin</a>
  <a routerLink="form" class="button" routerLinkActive="active">Form</a>
  <a routerLink="sandbox" class="button" routerLinkActive="active">Sandbox</a>
  <a routerLink="players" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Players</a>
  <a routerLink="players" [queryParams]="{q: 111}" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Players with query</a>
  <a [routerLink]="['player', playerId]" class="button" routerLinkActive="active">Player {{playerId}}</a>
  <a [routerLink]="[{ outlets: { popup: 'login'} }]" class="button">Show popup</a>
  <a [routerLink]="[{ outlets: { popup: null} }]" class="button">Hide popup</a>
</header>
